<!DOCTYPE html>
<html>
  <head>
    <title>SppPayment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <%= render "admins/layouts/components/sidemenu" %>
        <div class="main">
            <%= render "admins/layouts/components/header" %>
            <main class="content">
                <div class="container-fluid">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                    <%= yield %>
                </div>
                <%= render "admins/layouts/components/footer" %>
            </main>
        </div>
    </div>
  </body>
</html>
