<div class="container-fluid p-0">
	<h1 class="h3 mb-3">Edit Tahun</h1>
	<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="<%= admins_admin_authenticated_root_path %>">Dashboard</a></li>
			<li class="breadcrumb-item"><a href="<%= admins_admin_generations_path %>">Angkatan</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @budget_spp.generation_id %></li>
            <li class="breadcrumb-item"><a href="<%= admins_admin_generation_budget_spps_path %>">Spp Per Tahun</a></li>
			<li class="breadcrumb-item active" aria-current="page">Edit</li>
            <li class="breadcrumb-item active" aria-current="page"><%= @budget_spp.id %></li>
		</ol>
	</nav>
	<div class="row justify-content-center">
		<div class="col-lg-7">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Edit Tahun</h5>
				</div>
				<div class="card-body">
					<%= render 'form', budget_spp: @budget_spp, url: admins_admin_generation_budget_spp_path %>
				</div>
			</div>
		</div>
	</div>
</div>
