<!DOCTYPE html>
<html>
  <head>
    <title>SppPayment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <% if student_signed_in? %>
        <%= button_to 'Sign Out', destroy_student_session_path, method: :delete %> |
      <% elsif !admin_signed_in? %>
        <%= link_to "Sign In", new_student_session_path %> |
      <% end %>

      <% if admin_signed_in? %>
        <%= button_to 'Sign Out as Admin', destroy_admin_session_path, method: :delete %> |
      <% elsif !student_signed_in? %>
        <%= link_to "Sign In as Admin", new_admin_session_path %> |
      <% end %>
    <%= yield %>
  </body>
</html>
